@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 75% 95%;
    --foreground: 203 7% 22%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 20 0% 70%;
    --input: 214.3 31.8% 91.4%;

    --primary: 10 78% 52%;
    --primary-foreground: 270 56% 96%;

    --secondary: 229 10% 66%;
    --secondary-foreground: 232 11% 28;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 234 71% 8%;
    --foreground: var(--primary);

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: var(--background);
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 35%;
    --input: 217.2 32.6% 17.5%;

    --primary: 199 67% 78%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 73% 62%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body {
    margin: 0;
  }
  body {
    @apply bg-background text-foreground;
  }
}


